<header>
  <style>

  div .hero {
  width: 100%;
  }

  header .hero {
    position: relative;
    display: block;
    width: 100%;
    height: 40%;
    max-height: 180px;
    background: url('images/helper.jpg');
    background-position: 80% 15%;
    background-size: cover;
  }
  header .hero .branding {
    position: absolute;
    bottom: 0;
  }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>  
  
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYEiUAFh3-Ca91pCPgn8a-DFX7OEL8GZQ"></script> 


  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/events">
          <img src="images/WebLogo.png" alt="Site Logo"/>
        </a>
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

    <title>College Events</title>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/events">Events</a></li>
          <li><a href="/orgs">Organizations</a></li>
          <li><a href="/universities">Universities</a></li>
          <li><a href="/super">Super Admin</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
      
    
    </nav>
</header>