<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <!-- AngularJS and its route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYEiUAFh3-Ca91pCPgn8a-DFX7OEL8GZQ"></script>
    
  <style>

    /* Setting dimensions and styling the signin background */
    #signinBackground {
      align-items: center;
      background-color: #C5C7C8;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: center;
      transform: translate(-50%, -50%);

      height: 472px;
      width: 354px;

      left: 50%;
      top: 50%;
    }

    /* Setting and styling the background of the toggle bar */
    #collegeEventManager {
      align-items: center;
      background-color: #F1E6AD;
      border-radius: 10px;
      display: flex;
      font-size: 14pt;
      font-weight: bold;
      justify-content: center;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      transform: translateX(-50%, -50%);

      height: 50px;
      width: 299px;
    }
    
    /* Setting and styling the username and password field */
    #usernameField label, #passwordField label {
      color: #000000;
      display: inline-block;
      text-align: left;
      width: 100px;
    }
    #username, #password {
      align-items: center;
      color: #6C6C6C;
      background-color: #FBFBFB;
      border: none;
      border-radius: 8px;
      margin-bottom: 0.5em;
      text-align: center;

      height: 30px;
      width: 212px;
    }
    /* Removing the "focus ring" when the username and password field is clicked */
    #username:focus, #password:focus {
      outline: none;
    }

    /* Setting and styling the "NO ACCOUNT?" text */
    #noAccount {
      color: #000000;
      font-size: 10pt;
      text-align: left;
    }
    
    /* Setting and styling the dancing photo */
    #dancingPhoto img {
      text-align: center;
      margin-bottom: 0.5em;

      height: 180px;
    }

    /* Styling the error message (if there is one) */
    #errorMessage {
      color: rgb(255, 0, 0);
      font-size: 10pt;
      white-space: nowrap;
    }

    /* Setting and styling the "SIGN IN" button */
    #signinButton {
      background-color: #FEF3B3;
      border: none;
      border-radius: 12px;
      color: #000000;
      cursor: pointer;
      font-size: 18pt;
      margin-top: 0.5em;
      text-align: center;

      height: 37px;
      width: 299px;

      position: absolute;
      top: 390px;
      left: 50%;
      transform: translateX(-50%);
    }
    /* Changing the "SIGN IN" button color when hovered over */
    #signinButton:hover {
      background-color: #F1E6AD ;
    }
  </style>

  <title>College Event Manager</title>
</head>

<body>
  <center>
    <div id="signinBackground">
      <text id="collegeEventManager">COLLEGE EVENT MANAGER</text>
      <form id="signinForm" class="form" action="/" method="post">
        <div id="usernameField">
          <text> USERNAME: </text>
          <input type="text" name="username" id="username" autocomplete="off" placeholder="USERNAME">
        </div>
        <div id="passwordField">
          <text> PASSWORD: </text>
          <input type="password" name="password" id="password" autocomplete="off" placeholder="PASSWORD">
        </div>
        <div id="noAccount">
          <p>Don't have an account? <a href="/register">Sign up</a></p>
        </div>
        <div id="dancingPhoto">
          <img src="images/DancingPhoto.png" alt="SigninPhoto">
        </div>
        <div id="errorMessage">
          <text><% if (message.length > 1) { %> <%= message %> <% } %></text>        
        </div>
        <button id="signinButton" type="submit">SIGN IN</button>
      </form>
      </form>
    </div>
  </center>
</body>

</html>