<html>
    <header>
      <style>

      div .hero {
      width: 100%;
      }

      header .hero {
        position: relative;
        display: block;
        width: 100%;
        height: 40%;
        background: url('images/banner.jpg');
        background-repeat: no-repeat;
        background-position: 80% 15%;
        background-size: cover;
      }
      header .hero .branding {
        position: absolute;
        bottom: 0;
      }
      input, label{
        width: 40%;
      }

      .lcontainer{
        margin-top: 2%;
        margin-left: 30%;
        margin-right: 30%;

        padding-top: 10px;
        padding-bottom: 10px;

        border: 2px;
        border-style: solid;
        border-color: #7ec0ee;
        border-radius: 10px;

        background-color: #d3d3d3;
      }
      .aContainer{
        color: red;
      }
      </style>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>  
      
      <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYEiUAFh3-Ca91pCPgn8a-DFX7OEL8GZQ"></script> 


      <div class="hero">
        <section class="layout">
          <div class="branding">
            <a href="/events">
              <img src="images/WebLogo.png" alt="Site Logo"/>
            </a>
          </div><!-- branding -->
        </section><!-- layout -->
      </div><!-- hero -->

        <title>College Events</title>
        
    </header>
    <body>
    <center>

        <div class = "aContainer" >
            <h1> <% if (message.length > 1) %>
                  <%=    message   %>
            </h1>
          </div>

        <div class = "lContainer">

            <h1><u>Register</u></h1><br>

            
            <form class="form"  action="/register" method="post">              
                <div class="form-group">
                    <LABEL>Name: </LABEL>
                    <input type="text" name="name" id="name"><br>
                    <LABEL>E-mail: </LABEL>
                    <input type="text" name="email" id="email"><br>
                    <LABEL>Username: </LABEL>
                    <input type="text" name="username" id="username"><br>
                    <LABEL>Password: </LABEL>
                    <input type="password" name="password" id="password"><br><br>
                    
                    <LABEL>University: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</LABEL>
                    <select name = "uni">
                        <%for(var i =0; i < uni.length;i++){%>

                            <option value= "<%=uni[i].University_Name%>"><%=uni[i].University_Name%>
                          

                          <% } %>
                        
                    </select>

                </div>
                <button type="submit" class="btn btn-success">Register</button>
                
            </form>
        </div>

    </center>
        
        
    </body>

    
</html>