<html>

<%= include partials/header.ejs %>

<head>
  <% if(joinStatus == 1) { %>

    <meta property="og:title" content="I just joined an RSO on College Event Manager!"/>

  <% } %>   
  <% if(joinStatus == 0) { %>

    <meta property="og:title" content="I just left an RSO on College Event Manager!"/>
    
  <% } %> 
  <meta property="og:site_name" content="College Event Manager"/>
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=64227370ff8036001a234afc&product=inline-share-buttons&source=platform" async="async"></script>
</head>
 <body>
  <center><u><h1>Org Details</h1></u><center></br>

          <div class = "viewRSO">
                    
              <form method = "post" action = " ">
                    
              <h3>
                Name: <%= orgs[0].Name %>
              </h3>
              <h5>
                Admin: <%= orgs[0].Admin %>
              </h5>

              <% if(joinStatus == 1) { %>

                <input type="submit" name="theButton" value="Join">

              <% } %>   
              <% if(joinStatus == 0) { %>

                <input type="submit" name="theButton" value="Leave">
                
              <% } %> 

              <br>
              <div class="sharethis-inline-share-buttons"></div>
 
            </form>  
          </div> 
  </body>
</html>
